<div class="m-3 p-3 callout">
  <p><%=  @question %></p>
  <p>-<em>You</em></p>
</div>
<div class="m-3 p-3 callout callout-warning">
  <p><%= @answer %></p>
  <p>-<em>Your coach</em></p>
</div>
<div class="m-3 ">
  <%= link_to "Ask a new question", ask_path %>
</div>
