<div class="m-3">
  <form action="/answer" method="get">
    <label for="question">Ask your coach anything:</label>
    <div class="input-group">
      <input id="question" type="text" name="question" placeholder="What's your question?" class="form-control" >
      <input type="submit" class="btn btn-primary">
    </div>
  </form>
</div>
